
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;
$black: #000;
$height: 100px;
$margin-top: 200px;
$font-size: 70px;
$margin-top-display: 40px;

.col-md-4 {
  background-color: $background-color;
  border: 1px solid $black;
  height: $height;
  width: $height;
}

.row {
  font-size: $font-size;
  height: $height;
  text-align: center;
}

.container {
  margin-left: $margin-top * 2.5;
}

.display {
  margin-top: $margin-top-display;
  text-align: center;
}
